<footer>
    <!-- Social media icons line Start -->
    <div class="sm-handle">
        <a href="#" class="sm-button">
            <i class="fa fa-3x fa-instagram">  </i>
        </a>
        <a href="https://vk.com/<%=info.screen_name%>" class="sm-button">
            <i class="fa fa-3x fa-vk"> </i>
        </a>
        <a href="#" class="sm-button">
            <i class="fa fa-3x fa-twitter">  </i>
        </a>
        <a href="https://github.com/semenovDA" class="sm-button">

            <i class="fa fa-3x fa-github"> </i>
        </a>
    </div>
    <!-- copyright area -->
    <br/>
    <p class="copyright">&copy Copyright 2021 | <%=info.name%></p>
</footer>