<div class="container header">
    <img src="<%=info.cover.images[info.cover.images.length - 1].url%>" alt="Snow" style="width:100%;">
    <div class="centered">
        <h3><%= info.name %></h3>
        <h4><%= info.description %></h4>
    </div>
</div>