<!-- Modal -->
<div class="modal fade" id="good_card_modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h2 class="modal-title" id="good_card_title">Заголовок</h2>
			</div>
			<div class="modal-body">
				<table class="table">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-6 col-md-6"><img id = "good_card_image" class="img-responsive center-block" src="" alt="good"></div>
							<div id="good_card_info" class="col-lg-6 col-md-6 p-3">
								<h4 id="good_card_description" class="row">описание</h4>
								<h3 id="good_card_price" class="row">цена</h3>
							</div>
						</div>
					</div>
				</table>
			</div>
		</div>
	</div>
</div>